@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500;600&display=swap');

.main {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column-reverse;
    padding: 3.75rem 2.5rem 3.75rem 2.5rem;
    justify-content: left;
    gap: 4.375rem;
    border-radius: 0.625rem 0rem 0rem 0rem;
    opacity: 0rem;
}

/* FORMULÁRIO */
.main__form {
    padding: 2.5rem;
    gap: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__form__titulo {
    text-transform: uppercase;
}

.main__form__input {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 600;
    font-style: normal;
    display: inline-block;
    padding: 0.1rem;
    border: 2px solid blue;
    border-radius: 2rem;
    text-align: center;
    width: 21.8rem;
}

.input__label {
    display: block;
    font-size: 1rem;
    color: blue;
    line-height: 1.3rem;
}

.form__input,
.form__input_end {
    outline: none;
    border: none;
    line-height: 1.2em;
    font-size: 14pt;
    width: 90%;
}

.main__form__botoes {
    padding: 0rem 4rem 0rem 4rem;
    gap: 0.8rem;
    opacity: 0px;
    display: flex;
    width: 21.8rem;
}

.main__form__info p{
    font-size: 12px;
    color: red;
    padding: 5px;
}

.botao__guardar {
    cursor: pointer;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 0.9rem;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.6rem;
    text-align: center;
    font-family: "IBM Plex Mono", monospace;
    font-style: normal;
    width: 11.75rem;
    height: 3.4rem;
}

.botao__limpar {
    cursor: pointer;
    color: blue;
    border: none;
    border-radius: 0.9rem;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.6rem;
    text-align: center;
    font-family: "IBM Plex Mono", monospace;
    font-style: normal;
    width: 11.75rem;
    height: 3.4rem;
}

.botao__excluir {
    cursor: pointer;
    color: red;
    border: none;
    border-radius: 0.9rem;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.6rem;
    text-align: center;
    font-family: "IBM Plex Mono", monospace;
    font-style: normal;
    width: 11.75rem;
    height: 3.4rem;
}

@media (min-width: 840px) {
    .main {
        flex-direction: row;
    }
}

/* Side Bar */
.sidebar {
    width: 250px;
    background-color: #333;
    color: white;
    padding: 20px;
    transition: width 0.3s;
}

.sidebar.collapsed {
    width: 60px;
}

.sidebar button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    margin-bottom: 20px;
}

.menu-item {
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.menu-item:hover,
.menu-item.active {
    background-color: #555;
}

.lista {
    display: flex;
    gap: 45px;
}

.item_lista {
    cursor: pointer;
    color: blueviolet;
}

.svg-button {
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: fill 0.2s ease;
}

.svg-button:hover {
    fill: #0056b3;
}