@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500;600;700&display=swap');

.footer {
    font-family: "Press Start 2P", system-ui;
    padding: 1rem;
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    white-space: nowrap;
}

.footer__container__logo {
    display: flex;
    font-weight: 400;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
}

.footer__info{
    font-family: "IBM Plex Mono", monospace;
    text-transform: uppercase;
}

.footer__info__destaque{
    color: white;
    text-decoration: none;
}