.botao {
    background-color: #f83432;
    border-radius: 0.7rem;
    font-weight: 700;
    font-size: 1.1rem;
    padding: 1.8rem;
    border: none;
    cursor: pointer;
    color: #FFF;
    margin: 1.8rem 0rem;
}

.botao:hover {
    color: #fcba03;
}