:root {
  --cor-principal: #68dcfc;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  color: var(--cor-principal);
  margin: 0em 0em 1em 0em;
}

.header__imagem {
  width: 4em;
}

.relogio {
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}

.relogio__texto {
  text-align: center;
  cursor: none;
}

.relogio__botao {
  background-color: var(--cor-principal);
  padding: 0.5em 1em;
  border: none;
  border-radius: 3em;
  font-weight: 800;
  cursor: pointer;
}

.conteudo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 0% 20%;
  gap: 2em;
  border-radius: 2em;
  border: solid var(--cor-principal) 0.2em;
}

.conteudo__texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.1em;
  width: fit-content;
  padding: 1em;
}

.dados__botao {
  background-color: var(--cor-principal);
  padding: 0.5em;
  border: none;
  border-radius: 3em;
  font-weight: 800;
  cursor: pointer;
  width: 100%;
}

.dados__link {
  text-decoration: none;
  color: #000000;
}

.dados__link:hover {
  color: var(--cor-principal);
}

.conteudo__divisoria{
  background-color: var(--cor-principal);
  width: 0.2em;
  height: 15em;
  border: none;
  direction: ltr;
}


.conteudo__lista {
  margin-right: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.1em;
  padding: 1em;
}

.conteudo__lista__botaoLog {
  background-color: var(--cor-principal);
  padding: 0.5em;
  border: none;
  border-radius: 3em;
  font-weight: 800;
  cursor: pointer;
  width: 100%;
}

.footer {
  margin: 1em 0em 0em 0em;
  text-align: center;
  padding: 1em;
  font-weight: 600;
  background-color: var(--cor-principal);
}