.banner {
    background-color: #f83432;
    text-align: center;
    position: relative;
}

.banner img {
    max-width: 100%;
}

.banner a {
    position: relative;
    right: -170px;
    text-decoration: none;
    background-color: #f83432;
    border: 2px solid #ffffff;
    border-radius: 1rem;
    padding: 1rem;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
}

.banner a:hover {
    color: #f83432;
    background-color: #ffffff;
    border: 2px solid #f83432;
}